body {
  background: url("../images/star-wars-background.jpg");
  background-size: cover;
  color: white;
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 97%;
  margin: 20px auto 0;
}

img {
  height: 100px;
  width: 135px;
  padding: 2px 15px;
}

h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

.character {
  float: left;
  text-align: center;
  border: 2px solid #00ff00;
  font-size: 15px;
  background-color: #ffffff;
  color: #000000;
}

.character h4 {
  margin: 3px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.your-character {
  height: 152px;
}